.tab-area.metro-green {
	font-family: Segoe UI;
	font-size: 12px;
}

.tab-area.metro-green ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.tab-area.metro-green li {
	float: left;
	padding: 20px;
	background-color: #E6E6E6;
	width: 100px;
	margin-right: 5px;
	text-align: center;
}

.tab-area.metro-green li:hover {
	cursor: pointer;
	background-color: #76ee00;
	color: white;
}

.tab-area.metro-green li[selected] {
	cursor: pointer;
	background-color: #76ee00;
	color: white;
}

.tab-area.metro-green .tab-pages {
	clear: both;
	border-top: solid 3px #76ee00;
}

.tab-area.metro-green .tab-page {
	background-color: #E6E6E6;
	width: 100%;
	min-height: 300px;
}